<div class="index-sections">
  <div class="Message">
      <h3>Congrats on making it this far. You're in the right place. <span class="ok"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/129/ok-hand-sign_1f44c.png"></span></h3>
    </div>
  {{ content_for_index }}
  <style>
     .nav-head h2:nth-child(1) a {
      background-image: -webkit-linear-gradient(215deg, #A5C0EE 0%, #FBC5EC 100%);
      background-image: -o-linear-gradient(215deg, #A5C0EE 0%, #FBC5EC 100%);
      background-image: linear-gradient(-125deg, #A5C0EE 0%, #FBC5EC 100%);
	  border-radius: 12px;
      padding: .5em 1em;
      color: white !important;
    }
    
    
  .small--text-center {
    color: black !important;
    margin-top: .5em;
  }
    
     @media only screen and (max-width: 912px) {
    .product {
        width: 33.333%;
    }
  }
  
   @media only screen and (max-width: 600px) {
    .product {
        width: 50% !important;
    }
  }
  
   @media only screen and (max-width: 480px) {
    .product {
        width: 100% !important;
    }
  }
    
   @media only screen and (max-width: 456px) {
    .Message {
        margin-top: 1em;
    }
  }
    
    
  </style>
</div>
